<div class="d-flex">
  <div>
    <p><%= meeting.company.name %></p>
    <p><%= meeting.date.strftime("%H:%M") %></p>
    <p><%= meeting.hour.strftime("%H:%M") %></p>
  </div>
  <div>
    <div class="d-flex">
      <p><%= meeting.contact.first_name.capitalize %></p>
      <p><%= meeting.contact.last_name.capitalize %></p>
    </div>
    <p><%= meeting.contact.function %></p>
  </div>
  <div class="d-flex">
    <p><%= meeting.contact.email %></p>
    <p><%= meeting.contact.phone_number %></p>
  </div>
</div>
