<div class="d-flex">
  <div>
    <%= meeting.company.name %>
    <%= meeting.date.strftime("%H:%M") %>
    <%= meeting.hour.strftime("%H:%M") %>
  </div>
  <div>
    <div class="d-flex">
      <%= meeting.contact.first_name.capitalize %>
      <%= meeting.contact.last_name.capitalize %>
    </div>
    <%= meeting.contact.function %>
  </div>
  <div class="d-flex">
    <%= meeting.contact.email %>
    <%= meeting.contact.phone_number %>
  </div>
</div>
