<div class="carte-meeting">
  <div class="bar <%= meeting.company.status %> "></div>
  <div class="carte-meeting-hours" >
    <p><%= meeting.date.strftime("%H:%M") %></p>
    <p class="mt-2"><%= meeting.hour.strftime("%H:%M") %></p>
  </div>
  <div class="carte-meeting-company"><%= meeting.company.name %></div>
  <div class="carte-meeting-contact">
    <% if meeting.contact.present? %>
      <p class="p-bold"><%= "#{meeting.contact.first_name.capitalize} #{meeting.contact.last_name.capitalize}" %></p>
      <p class="p-small"><%= meeting.contact.email %></p>
      <p class="p-small"><%= meeting.contact.phone_number %></p>
    <% end %>
  </div>
  <div class="carte-meeting-actions">
    <button type="button" data-bs-toggle="modal" data-bs-target="#noteModal<%= meeting.company.id %>" class="no-style fa-regular fa-clipboard" style="color: #ffd43b">
    </button>
    <button type="button" data-bs-toggle="modal" data-bs-target="#editMeetingModal" class="no-style fa-regular fa-pen-to-square" style="color: #ffd43b">
    </button>
    <%= button_to '', meeting_path(meeting), method: :delete, class:"no-style fa-solid fa-trash", style:"color: #ffd43b", data: { confirm: 'Are you sure you want to delete this meeting?' }  %>
  </div>
</div>


<div class="modal fade" id="<%= "editMeetingModal" %>" tabindex="-1" aria-labelledby="meetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="meetingModalLabel"><%= meeting.persisted? ? 'Edit' : 'New' %> meeting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "meetings/agenda_form_edit", meeting: meeting %>
      </div>
    </div>
  </div>
</div>


<%= render partial: 'meetings/note_form_meeting',  locals: { company: meeting.company } %>
