<div class="modal fade" id="noteModal<%= company.id if company.present? %>" tabindex="-1" aria-labelledby="notesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="header-modale">
          <h4>Add a note</h4>
          <p>to a company</p>
        </div>
        <div data-controller="filter">
          <div data-controller="notes">
            <%= simple_form_for Note.new do |f| %>
              <% if company.present? %>
                <input type="hidden" name="note[company_id]" value="<%= company.id %>" data-notes-target="companyId">
              <% else %>
                <input type="text" placeholder="KPMG" data-action="keyup->filter#filter" class="form-control">
                <div data-filter-target="list", class="full-list">
                  <%= render "pages/note_company_list", companies: Company.all.limit(5) %>
                </div>
              <% end %>
              <div class="info-purple">
                <i class="fa-solid fa-info me-3"></i>
                <p>Our Ai tool will help you rephrase or create a complete note or report with just some bullet point. Just tipe your note and click on <strong> rephrase </strong>! </p>
              </div>
              <%= f.input :title %>
              <%= f.input :content, as: :text, label: false, placeholder: 'Enter your note here', input_html: { data: { notes_target: "note"} } %>
              <button data-notes-target="helpButton" data-action="click->notes#rephrase" class="btn-ai mb-3">
                <i class="fa-solid fa-robot me-2"></i>Rephrase
              </button>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= f.button :submit, 'Save', class: 'btn-primary-home' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
