<div class="sidebar b-radius-l">
  <div class="top-sidebar">
    <%= image_tag 'logo.png', class:"logo"%>
    <div class="info-profile">
      <%= image_tag 'profil.png', class:"img-profile"%>
      <div class="name-function">
        <p class="name p-bold ">Rémi Lavigne</p>
        <p class="function p-small">Sales representative</p>
      </div>
    </div>
    <hr/>
    <div class="home-button">
        <%= link_to root_path(), class: "btn-primary-home" do %>
        <i class="fa-solid fa-house me-2"></i> Home
        <% end %>
        <%= link_to map_path, class: "btn-primary-home" do %>
        <i class="fa-solid fa-map me-2"></i> Map
        <% end %>
    </div>
  </div>
  <div class="bottom-sidebar">
    <a class="btn-primary" data-bs-toggle="modal" data-bs-target="#noteModal">
      <i class="fa-solid fa-pen-to-square me-2"></i>
      Notes
    </a>
      <!--
        <%= link_to destroy_user_session_path, method: :delete, class: "btn-logout" do %>
          <i class="fa-solid fa-arrow-right-from-bracket me-2 "></i></i> Logout
        <% end %>
      -->
      <%# <i class="fa-solid fa-arrow-right-from-bracket me-2 "></i>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn-primary-home no-style" %>

  </div>
</div>


<%= render partial: 'meetings/note_form_meeting',  locals: { company: "" } %>
