<div class="sidebar b-radius-l">
  <div class="top-sidebar">
    <%= image_tag 'logo.png', class:"logo"%>
    <div class="info-profile">
      <%= image_tag 'profil.png', class:"img-profile"%>
      <div class="name-function">
        <p class="name p-ultra-small-b ">Remi lavigne</p>
        <p class="function p-ultra-small">Sales representative</p>
      </div>
    </div>
    <hr/>
    <div class="hello">
      <div class="btn-primary b-radius-s ">
        <i class="fa-solid fa-house"></i>
        <%= link_to "Home", root_path(), class:"btn-text"%>
      </div>
      <div class="btn-primary b-radius-s ">
        <i class="fa-solid fa-map"></i>
        <%= link_to "Map", map_path, class:"btn-text"%>
      </div>
    </div>
  </div>
  <div class="bottom-sidebar">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#notesModal">
      <i class="fa-solid fa-pen-to-square"></i>
        Notes
    </button>
    <div class="btn-logout b-radius-s outline-gray">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn-remove"%>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="notesModal" tabindex="-1" aria-labelledby="notesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notesModalLabel">Notes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'pages/notes_form'%>
      </div>
    </div>
  </div>
</div>
