<div class="modal fade" id="company<%= company.id %>Modal" tabindex="-1" aria-labelledby="companyModal" aria-hidden="true">
  <div class="modal-dialog max-w-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="modal-company-top <%= company.status %> ">
        <div class="width">
          <h1 class="modal-title fs-5 mb-3" id="companyModal"><%= company.name %></h1>
          <div class="company-card">
            <i class="fa-solid fa-address-card me-2"></i>
            <div class="company-info">
              <div>
                <p class="p-bold mb-1"> <%= company.address %></p>
                <p class="p-small"> <%= company.zip_code  %>, <%= company.city %></p>
              </div>
              <div class="company-right">
                <p class="p-bold mb-1"> Code Naf <%= company.code_naf %></p>
                <p class="p-small"> Company size: <%= company.company_size %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if company.contact.present? %>
        <div>
          <div class="modal-contact-info">
            <i class="fa-solid fa-address-book me-2"></i>
            <div class="all-contact-info">
              <div>
                <p class="p-bold text-black mb-2"><%= company.contact.first_name %> <%= company.contact.last_name %></p>
                <p class="p-small text-black"><%= company.contact.function %></p>
              </div>
              <div class="right-side-contact">
                <div class="display-info mb-2">
                  <p class="p-small text-black"><%= company.contact.phone_number %></p>
                  <i class="fa-solid fa-phone icon ms-2"></i>
                </div >
                <div class="display-info">
                  <p class="p-small text-black"><%= company.contact.email %></p>
                  <i class="fa-solid fa-envelope icon ms-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="note-section">
        <h4 class="mb-3">Notes</h4>
        <% company.notes.each do |note| %>
          <div class="note-aperçu b-radius mb-3">
            <p class="p-small-b"><%= note.title%></p>
            <p class="p-small"> <%= note.created_at.strftime('%d/%m/%Y') %></p>
            <div class="aperçu">
              <p class="p-small text-black "><%= note.content%></p>
            </div>
            </div>
      <% end %>
          </div>
      </div>
      <div class="modal-footer">
        <a class="btn-primary" data-bs-toggle="modal" data-bs-target="#newMeetingModal<%= company.id %>">
         <i class="fa-solid fa-plus me-2"></i>
            Add to agenda
        </a>
      </div>
    </div>
  </div>
</div>
