<div data-controller="notes">
  <%= simple_form_for Note.new do |f| %>
    <%= f.input :company_id, collection: Company.all, label: 'Company', input_html: { data: { notes_target: "companyId"} } %>
    <%= f.input :title %>
    <%= f.input :content, as: :text, label: false, placeholder: 'Enter your note here', input_html: { data: { notes_target: "note"} } %>
    <button data-notes-target="helpButton" data-action="click->notes#rephrase">Help me</button>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, 'SAVE', class: 'btn btn-primary' %>
  <% end %>
</div>
