<% companies.each do |company| %>

<input type="radio" name="meeting[company_id]" value="<%= company.id %>" class="radio-input" id="company_<%= company.id %>">

<label for="company_<%= company.id %>" class="radio-label carte-company-meeting-master">
  <div class="carte-company-meeting-infos">
    <div class="carte-company-meeting-status">
      <div class="bar <%= company.status %> "></div>
    </div>
    <div class="carte-company-meeting-left">
      <p class="p-bold"><%= company.name %></p>
      <p class="p-small">Naf/APE: <%= company.code_naf %></p>
    </div>
    <div class="carte-company-meeting-right">
      <p class="p-small-b"><%= company.city %> </p>
      <p class="p-small">Company-size: <%= company.company_size %></p>
    </div>
  </div>
</label>

<% end %>
