<div data-controller="filter">
  <%= simple_form_for Note.new do |f| %>
    <input type="text" placeholder="KPMG" data-action="keyup->filter#filter">
    <div data-filter-target="list", class="full-list">
      <%= render "note_company_list", companies: Company.all %>
    </div>
    <%= f.input :title %>
    <%= f.input :content, as: :text, label: false, placeholder: 'Enter your note here' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, 'SAVE', class: 'btn btn-primary' %>
  <% end %>
</div>
