<div data-controller="filter">
  <div data-controller="notes">
    <%= simple_form_for Note.new do |f| %>
      <input type="text" placeholder="KPMG" data-action="keyup->filter#filter" class="form-control">
      <div data-filter-target="list", class="full-list">
        <%= render "pages/note_company_list", companies: Company.all.limit(5) %>
      </div>
      <%= f.input :title %>
      <%= f.input :content, as: :text, label: false, placeholder: 'Enter your note here', input_html: { data: { notes_target: "note"} } %>
      <button data-notes-target="helpButton" data-action="click->notes#rephrase">Help me</button>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, 'SAVE', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
