

<input type="radio" name="meeting[company_id]" value="<%= company.id %>" class="radio-input" id="suggestion_company_<%= company.id %>">

<label for="suggestion_company_<%= company.id %>" class="radio-label carte-company-meeting-master">
  <div class="carte-company-meeting-infos">
    <div class="carte-company-meeting-status">
      <div class="bar <%= company.status %> "></div>
    </div>
    <div class="carte-company-meeting-left">
      <p class="p-bold"><%= company.name %></p>
      <p class="p-small"><%= company.city %></p>
    </div>
    <div class="carte-company-meeting-right">
      <p class="p-small-b tex-orange text-right "><%= @travel_times[company.name.to_sym][:distance] %>m </p>
      <p class="p-small text-right "> from <%= @travel_times[company.name.to_sym][:meeting] %></p>
    </div>
  </div>
</label>
