<div class="custom-container">
  <div class="home-left b-radius-l">
    <div class="agenda">
      <%= render partial:"meetings/agenda", locals: { meetings: @meetings, companies: @companies_suggestion} %>
    </div>
  </div>
  <div class="home-right b-radius-l">
   <div class="itinerary-top-right">
    <h4 class="title-agenda">Itinerary</h4>
    <p class="p-header-itinerary">Your roadmap for today</p>
  </div>
    <div style="width: 100%; height: 85%; "
      data-controller="map"
      data-map-target="map"
      data-map-next-meeting-value= "<%=@gps_next_meeting.to_json%>"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%= link_to "Let's Drive", @waze_url %>
  </div>
</div>
