<div class="container" data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="vertical-list" >
    <div class="">
      <%= render 'filter', company: @company %>
      <%= link_to "Reset Filter", root_path, class: "btn btn-outline-primary" %>
    </div>
    <div>
      <%= form_with url: map_path, method: :get, html: {class:
      "m-3", data: {map_target: "form"}} do |f| %>
      <%= f.text_field :query,
                    class: "form-control",
                    placeholder: "Type a company name",
                    value: params[:query],
                    data: {map_target: "input",
                    action: "keyup->map#update"} %>
      <% end %>
    </div>
    <div data-map-target="list">
      <%= render "company-list", companies: @companies_all %>
    </div>
  </div>
  <div style="width: 100%; height: 100%;" data-map-target="map">
  </div>
</div>

<!-- Modal -->
<%= render 'meetings/modale_meeting'%>
