<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SprinterSell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body>
    <div class="big-container">
      <%= render "shared/navbar" %>
      <div class="big">
        <%= render "shared/topbar" %>
        <%= yield %>
        <%= render "shared/flashes"%>
      </div>
    </div>
  </body>
</html>
